@keyframes process {
    from {
        width: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bounce-out {
    0% {
        transform: scale(1)
    }
    30% {
        transform: scale(1.05)
    }
    100% {
        opacity: 0;
        transform: scale(.5)
    }
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    overflow-x: hidden;
    cursor: default;
    min-width: 1000px;
}

body {
    display: flex;
    background-color: #d9e9ff;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Source Code Pro", "Microsoft YaHei", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", sans-serif;
}

.copyable, .copyable * {
    user-select: initial;
    cursor: initial;
}

header {
    background-color: #272e38;
    width: 28%;
    min-height: 100%;
    max-width: 500px;
    padding-bottom: 1px;
    animation: fade-in 1s ease;
}

#head {
    padding: 5%;
    position: relative;
    text-align: center;
}

#head img {
    border-radius: 50%;
    border: #313D4D solid;
}

#head-photo {
    width: 90%;
    max-width: 310px;
    border-width: 10px !important;
}

#head-MYOTee {
    width: 30%;
    max-width: 93px;
    left: 15%;
    bottom: 6%;
    position: absolute;
    border-width: 5px !important;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
}

#head-MYOTee:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

#information, #information a {
    color: white;
    text-align: center;
    text-decoration: none;
}

#information div {
    margin: 2px 0;
}

#information a:hover {
    text-decoration: underline wavy;
}

#name {
    font-size: 3rem;
}

#english-name {
    font-size: 1.5rem;
}

#languages {
    margin-top: 15px;
}

.language {
    margin: 2%;
    width: 96%;
    background-color: #262626;
    color: white;
    border-radius: .45rem;
    box-shadow: 0 5px 4px -6px #aaa;
}

.language div {
    font-size: .9rem;
    display: inline-block;
    text-align: right;
    white-space: nowrap;
    border-radius: .45rem;
    padding-right: .5rem;
    animation: process 1.5s ease;
}

aside {
    width: 72%;
    min-height: 100%;
    animation: fade-in 2s ease;
}

.block-title {
    background-color: #272e38;
    padding: 8px 16px;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.list {
    padding: 8px;
    font-size: 1.2rem;
}

.label:before {
    color: white;
    padding: 2px 8px;
    font-size: .7rem;
}

.label-work:before {
    content: '工作';
    background-color: #178600;
}

.label-practice:before {
    content: '实习';
    background-color: #ffac45;
}

.label-project:before {
    content: '项目';
    background-color: #563d7c;
}

.start-finish-time {
    font-size: .9rem;
}

.job {
    display: inline-block;
    font-size: .8rem;
    background-color: #f34b7d;
    color: white;
    padding: 2px;
}

#final-target {
    padding: 8px 20px;
}

#final-target span {
    color: #a8a8a8;
    background-color: #a8a8a8;
    cursor: cell;
    cursor: -webkit-grabbing;
}

#icons {
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
}

#icons a {
    display: block;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    color: #a8a8a8;
    font-size: 35px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
    float: left; /** For IE = 9 */
}

#icons a:hover {
    font-size: 65px;
    color: #272e38;
}

.pc {
    display: block !important;
}

.mobile {
    display: none !important;
}

.message-box-radio {
    display: none;
}

.message-box {
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color, visibility .3s, .3s;
    -moz-transition: background-color, visibility .3s, .3s;
    -o-transition: background-color, visibility .3s, .3s;
    transition: background-color, visibility .3s, .3s;
}

.dialog {
    background: white;
    border-radius: 5px;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
    animation-fill-mode: both;
    animation-duration: .5s;
    animation-name: bounce-out;
}

.message-box-radio:checked + .message-box {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
}

.message-box-radio:checked + .message-box > .dialog {
    animation-name: bounce-in;
}

.dialog_title {
    padding: 0 80px 0 20px;
    line-height: 42px;
    height: 42px;
    width: 100%;
    font-weight: bold;
    overflow: hidden;
    color: #333;
    border-bottom: 1px solid #ccc;
    background-color: #E8E8E8;
}

.dialog_btnClose {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
    line-height: 16px;
    stroke: black;
    stroke-width: 2px;
    cursor: pointer;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.dialog_btnClose:hover {
    stroke: red;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

.dialog_body {
    width: 100%;
    padding: 8px;
    overflow: auto;
    border: none;
}

.dialog_body * {
    max-width: 100%;
}

@media (max-device-width: 999px) {
    html, body {
        min-width: initial;
    }

    body {
        display: initial;
    }

    header {
        width: 100%;
        height: 100%;
        min-height: 500px;
        max-width: initial;
    }

    #top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 310px;
    }

    #head {
        padding: 2%;
    }

    #languages {
        display: flex;
        flex-wrap: wrap;
        margin-top: initial;
        justify-content: center;
        align-content: space-around;
        height: calc(100% - 310px);
    }

    .language {
        width: 40%;
        margin: 0 2%;
    }

    aside {
        width: 100%;
    }

    .start-finish-time:after {
        content: '\20';
        display: block;
    }

    .list strong {
        display: inline-block;
        text-indent: 3rem;
    }

    .pc {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    #icons a {
        font-size: 40px;
    }

    #icons a:hover {
        font-size: 35px;
        color: #272e38;
    }
}

@media (max-device-width: 599px) {
    header {
        height: initial;
    }

    #top {
        display: initial;
    }

    #head-MYOTee {
        left: 20%;
    }

    #languages {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        justify-content: center;
    }

    .language {
        margin: 5px 2%;
    }

    .list strong {
        display: initial;
        text-indent: initial;
    }
}

@media (max-device-width: 499px) {
    #icons {
        justify-content: center;
    }

    #icons a {
        float: initial;
    }
}

@media (max-device-width: 259px) {
    * {
        overflow: hidden;
    }

    header:before {
        content: '屏幕太小了！该淘汰了吧？？！';
        background-color: #272e38;
        color: white;
        font-size: 2rem;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}
