html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei", "gothic", "sans-serif";
}

.clear:after {
    content: '\20';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

header {
    width: 100%;
    background-color: #2189bf;
}

#top-right {
    float: right;
    margin-right: 93px;
}

#login {
    float: right;
    margin-top: 21px;
    color: white;
}

#search-input {
    float: right;
    background-color: white;
    margin: 15px 21px;
    width: 310px;
    height: 28px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}

#search-icon {
    margin-left: 18px;
    font-size: 17px;
    line-height: 28px;
    color: #b1b0b0;
}

#search {
    border: none;
    line-height: 25px;
    padding: 0;
    width: 250px;
}

#logo {
    padding: 11px 0 10px 51px;
}

#logo img {
    width: 36px;
    height: 36px;
    outline: 1px gray solid;
}

#body {
    width: 1280px;
    margin: 0 auto;
    background-color: #ededec;
}

#left {
    width: 260px;
    height: 1280px;
    background-color: #2b2e3d;
    float: left;
}

#user {
    padding: 21px 0 0 46px;
}

#user img {
    width: 56px;
    height: 56px;
    float: left;
    margin-right: 19px;
}

#username {
    color: white;
    line-height: 56px;
    font-weight: bold;
}

#star {
    margin: 23px 46px 0 46px;
}

#star div {
    float: left;
    text-align: center;
    width: 72px;
    color: #576477;
    font-weight: bold;
}

#slashes {
    display: block;
    float: left;
    width: 2px;
    height: 40px;
    background-color: #313545;
}

#menu {
    margin-top: 22px;
}

.menu {
    padding: 1px 46px 20px 46px;
    color: #6e8096;
}

.menu div {
    margin-top: 20px;
}

.menu-active {
    background-color: #393d4e;
}

.menu-item-1 {
    color: #6e8096;
}

.menu-item-1-active {
    color: white;
}

.menu-item-1 span {
    margin-right: 13px;
}

.menu-item-2 {
    color: #6e8096;
    margin-left: 22px;
}

.menu-item-2 span {
    margin-right: 5px;
}

.menu-item-2 > span:before {
    margin-right: 7px;
    content: "\e60d";
}

.menu-item-2-active {
    color: white;
}

.menu-item-2-active > span:before {
    margin-right: 7px;
    content: "\e609";
}

.menu-item-3 {
    color: #6e8096;
    margin-left: 40px;
}

.menu-item-3 span {
    margin-right: 4px;
}

.menu-item-3-active {
    color: white;
}

#right {
    padding-left: 260px;
}

iframe {
    width: 1020px;
    height: 1280px;
    border: none;
}
