* {
    /** 全局取消选择 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /** 网页背景颜色 */
    background-color: black;
}

option {
    color: blue;
    background-color: yellow;
}

/** 指挥官所在的蓝色星球 */
#commander {
    position: fixed;
    background-color: blue;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

/** 第一轨道 */
#orbit0 {
    margin: -102px 0 0 -102px;
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

/** 第二轨道 */
#orbit1 {
    margin: -152px 0 0 -152px;
    width: 300px;
    height: 300px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
}

/** 第三轨道 */
#orbit2 {
    margin: -202px 0 0 -202px;
    width: 400px;
    height: 400px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}

/** 第四轨道 */
#orbit3 {
    margin: -252px 0 0 -252px;
    width: 500px;
    height: 500px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    border-radius: 250px;
}

/** 轨道通用样式 */
.orbit {
    position: fixed;
    left: 50%;
    top: 50%;
    border: 2px #555 solid;
}

/** 第一轨道的飞船 */
.orbit-ship0 {
    margin: -110px 0 0 -40px;
    /** 旋转中心 */
    -webkit-transform-origin: center 110px;
    -moz-transform-origin: center 110px;
    -ms-transform-origin: center 110px;
    -o-transform-origin: center 110px;
    transform-origin: center 110px;
}

/** 第二轨道的飞船 */
.orbit-ship1 {
    margin: -160px 0 0 -40px;
    /** 旋转中心 */
    -webkit-transform-origin: center 160px;
    -moz-transform-origin: center 160px;
    -ms-transform-origin: center 160px;
    -o-transform-origin: center 160px;
    transform-origin: center 160px;
}

/** 第三轨道的飞船 */
.orbit-ship2 {
    margin: -210px 0 0 -40px;
    /** 旋转中心 */
    -webkit-transform-origin: center 210px;
    -moz-transform-origin: center 210px;
    -ms-transform-origin: center 210px;
    -o-transform-origin: center 210px;
    transform-origin: center 210px;
}

/** 第四轨道的飞船 */
.orbit-ship3 {
    margin: -260px 0 0 -40px;
    /** 旋转中心 */
    -webkit-transform-origin: center 260px;
    -moz-transform-origin: center 260px;
    -ms-transform-origin: center 260px;
    -o-transform-origin: center 260px;
    transform-origin: center 260px;
}

/** 飞船整体 */
.space-ship {
    background-color: greenyellow;
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    /** 旋转角度 */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

/** 飞船能量条 */
.energy {
    width: 100%;
    height: 100%;
    background-color: green;
}

/** 飞船能量文字 */
.text {
    position: relative;
    left: 0;
    top: -25px;
}

/** 控制台整体 */
#console {
    background-color: rgba(150, 150, 150, 0.3);
    width: 600px;
    height: 200px;
    position: fixed;
    z-index: 100;
}

/** 控制台标题 */
#console-title {
    color: white;
    background-color: blue;
    padding: 5px;
    width: 590px;
    height: 20px;
    cursor: move;
}

/** 控制台文本区 */
#console-text {
    overflow: auto;
    color: white;
    padding: 5px;
    width: 590px;
    height: 160px;
}

/** 控制台输出内容 */
#console-text p {
    padding: 0;
    margin: 0 0 0 20px;
    text-indent: -20px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/** 控制台输出内容允许复制 */
#console-text span {
     -webkit-user-select: text;
     -moz-user-select: text;
     -ms-user-select: text;
     user-select: text;
}

/** 操作面板整体 */
#control {
    background-color: rgba(150, 150, 150, 0.3);
    width: 650px;
    position: fixed;
    z-index: 101;
}

/** 和操作面板标题 */
#control-title {
    color: white;
    background-color: blue;
    padding: 5px;
    width: 640px;
    height: 20px;
    cursor: move;
}

/** 操作面板操作区 */
#control-main {
    overflow: auto;
    color: white;
    width: 640px;
    padding: 5px;
}

/** 监视面板整体 */
#watch {
    background-color: rgba(150, 150, 150, 0.3);
    width: 650px;
    position: fixed;
    z-index: 101;
}

/** 监视面板标题 */
#watch-title {
    color: white;
    background-color: blue;
    padding: 5px;
    width: 640px;
    height: 20px;
    cursor: move;
}

/** 监视面板内容区 */
#watch-main {
    overflow: auto;
    color: white;
    width: 640px;
    padding: 5px;
}

table {
    width: 100%;
    text-align: center;
}

th {
    background-color: rgba(255, 255, 255, 0.5);
}

tr:nth-child(2n-1) {
    background-color: rgba(100, 100, 100, 0.5);
}
